//menu
.has-webp {
  //display: block;
  //border: 0;
  opacity: 0;
}
.has-webp:not(.initial) {
  transition: opacity 1s;
}
.has-webp.initial,
.has-webp.loaded,
.has-webp.error {
  opacity: 1;
}

.has-webp:not([src]) {
  visibility: hidden;
}
.text-8{
  font-size: 8px;
}
.text-22{
  font-size: 22px;
}
.text-45{
  font-size: 45px;
}
.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large ul{
  list-style: none;
}
.dropdown-menu-large > ul > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > ul > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > ul > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > ul > li ul > li > a:hover,
.dropdown-menu-large > ul > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
  padding: 0.5rem 1.3rem;
}
.navbar-nav li a {
  font-size: 13px;
}
.navbar{
  padding: 0 !important;
}
.condition-overflow{
  overflow-y: scroll;
  height: 250px;
}
//paralax
.jumbotron-slider{
  background: url("/images/slider/machupicchu-2.jpg");
  background-size: 100%;
}

.jumbotron-divider-1{
  background: url("/images/divider/slider-1.jpg");
  background-size: 100%;
}

.jumbotron-slider-1{
  background: url("/images/slider/machupicchu-2.jpg");
  //background: url(/images/placebg.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.jumbotron-slider-1:before {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, color-stop(46%, rgba(41, 44, 52, 0.76)), to(rgba(0, 0, 0, 0.41)));
  background: linear-gradient(to right, rgba(41, 44, 52, 0.76) 46%, rgba(0, 0, 0, 0.41) 100%);
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.jumbotron-recommended{
  background: url("/images/slider/machupicchu-2.jpg");
  //background: url(/images/placebg.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.jumbotron-recommended:before {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, color-stop(46%, rgba(255, 255, 255, 0.86)), to(rgba(208, 208, 208, 0.9)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.86) 46%, rgba(208, 208, 208, 0.9) 100%);
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.jumbotron {
  padding: 2rem 2rem !important;
}

.bg-rgba-dark{
  background: rgba(0,0,0,.7);
}
.bg-rgba-dark-1{
  background: rgba(0,0,0,.1);
}
.bg-rgba-dark-3{
  background: rgba(0,0,0,.3);
}
.bg-rgba-dark-5{
  background: rgba(0,0,0,.5);
}
.bg-rgba-white{
  background: rgba(255,255,255,.8);
}

//video
.video-btn-1{
  background:rgba(255,255,255,0.7);
  border-radius: 50%;
  height: 80px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  text-align:center;
}
//.video-btn-1 i{line-height:1.6;}
.video-btn-1 a{border-radius:50%;font-size:50px;line-height:1.6;}

//overlay
.card-img-overlay{
  bottom: auto !important;
}

//itinerary
.box-route-ininerary{
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -o-column-count: 2;
  column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  -moz-column-gap: 1.5em;
  -o-column-gap: 1.5em;
  //border-left: 1px solid #dedede;
  padding: 15px 0 15px 60px;
}

.timeline {
  position: relative;
  padding-top: 10px;
}
.timeline:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 35px;
  height: 100%;
  width: 2px;
  background: #d7d7d7;
  z-index: 1;
}
.timeline-f:before{
  height: 50% !important;
}
.timeline-title span {
  background-color: #ffdd00;
  padding: 7px 15px 6px;
  position: relative;
  z-index: 2;
}
.timeline-point {
  position: absolute;
  left: 25px;
  top: 50%;
  width: 20px;
  //height: 20px;
  background-color: #FFF;
  border: 3px solid #FFF;
  margin-top: -8px;
  z-index: 2;
}
.timeline-point i{
  position: absolute;
  top: -8px;
  background: white;
  color: #d7d7d7;
}
.timeline-point:before {
  content: "";
  height: 2px;
  width: 80px;
  position: absolute;
  background-color: #d7d7d7;
  left: 20px;
  top: 10px;
  z-index: 0;
}
.timeline-custom-col {
  //width: 48%;
  margin: -2.5rem 0 4rem 7rem;
  position: relative;
  min-height: 1px;
  //padding-right: 15px;
  //padding-left: 15px;
  float: left;
}
.timeline-custom-col:before {
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  background-color: #d7d7d7;
  left: -40px;
  top: 50%;
  z-index: -9999;
}
.timeline-location-block {
  padding: 30px 30px 20px 69px;
  position: relative;
  background-color: #fafafa;
  min-height: 250px;
  border-right: 2px solid #FFF;
  z-index: 2;
}
.timeline-location-block .location-name {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: bold;
  position: relative;
}
.timeline-location-block .location-name .icon-marker {
  position: absolute;
  left: -40px;
  top: -5px;
  border: 1px solid;
  border-radius: 50%;
  padding: 3px;
  width: 32px;
  height: 32px;
  text-align: center;
  font-size: 22px;
}

.timeline-custom-col.image-col:before {
  width: 15%;
}

.timeline-image-block {
  border-left: 2px solid #FFF;
  overflow: hidden;
  cursor: pointer;
  height: 250px;
}
//sticky-top-50
.sticky-top-50{
  top: 50px;
  z-index: 0;
}
.sticky-top-80{
  top: 80px;
  z-index: 0;
}
.nav-goto-side{
  border-left: 1px solid #f9a825;
}
.nav-goto-side a{
  color: #333333;
  font-size: 18px;
}
.nav-goto-side a.active{
  background-color: #f6f7f7 !important;
  display: block;
  border-left: 3px solid #f9a825;
  border-radius: 0;
  font-weight: bold;
  color: #333333 !important;
}
//footer
.footer-logo{
  margin-top: -15%;
}
.p-medalla{
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -13%;
  width: 40%;
}

.pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:4px}.pagination>li{display:inline}.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:6px 12px;line-height:1.42857143;text-decoration:none;color:#337ab7;background-color:#fff;border:1px solid #ddd;margin-left:-1px}.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-bottom-left-radius:4px;border-top-left-radius:4px}.pagination>li:last-child>a,.pagination>li:last-child>span{border-bottom-right-radius:4px;border-top-right-radius:4px}.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus{z-index:3;color:#23527c;background-color:#eee;border-color:#ddd}.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{z-index:2;color:#fff;background-color:#337ab7;border-color:#337ab7;cursor:default}.pagination>.disabled>span,.pagination>.disabled>span:hover,.pagination>.disabled>span:focus,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus{color:#777;background-color:#fff;border-color:#ddd;cursor:not-allowed}.pagination-lg>li>a,.pagination-lg>li>span{padding:10px 16px;font-size:18px;line-height:1.3333333}.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-bottom-left-radius:6px;border-top-left-radius:6px}.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-bottom-right-radius:6px;border-top-right-radius:6px}.pagination-sm>li>a,.pagination-sm>li>span{padding:5px 10px;font-size:12px;line-height:1.5}.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-bottom-left-radius:3px;border-top-left-radius:3px}.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-bottom-right-radius:3px;border-top-right-radius:3px}

.clickable {
  cursor: pointer;
}

header{
  height: 100vh;
  background: rgba(0,0,0,0.3);
  position: relative;
}

#video_background {
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}

#video_pattern {
  background: #000000;
  position: fixed;
  opacity: 0.1;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}




/* Video Overlay */
.header-video{
  width: 100%;
  height: 100vh;
}
#overlay {
  background-color:rgba(0,0,0,.3);
  height:100vh;
  left:0;
  position:relative;
  top:0;
  transition:background-color 300ms ease;
  width:100%;
}
.overlay-img{
  background-color:rgba(0,0,0,.2) !important;
}

//.fade { background-color:rgba(0,0,0,.85) !important; }


/* Hero Video + Fallback */

#hero-vid {
  backface-visibility:hidden;
  background:#fff;
  background-size:cover;
  bottom:0;
  height:auto;
  //min-height:100%;
  //min-width:100%;
  perspective:1000;
  position:fixed;
  right:0;
  min-width:100% !important;
  z-index:-1;
}

.hero-vid-home{
  width: auto !important;
}

#hero-pic {
  display:block;
  height:auto;
  width:100%;
}

#state {
  bottom:0;
  cursor:pointer;
  font-size:2.25rem;
  left:0;
  line-height:1;
  padding:2rem 2.5rem 1.65rem;
  position:absolute;
}


/* Content Styles */

#title {
  backface-visibility:hidden;
  left:0;
  perspective:1000;
  position:fixed;
  width:100%;
  z-index: 1;
}

.title-header {
  background-color:rgba(255,255,255,.7);
  //font-family:"Poiret One", sans-serif;
  //font-size:2.5rem;
  //padding:1rem 1.75rem;
}

#content {
  background-color:#151515;
  padding:2.5rem;
  position:relative;
  z-index:1;
}

#content p {
  font-size:1.25rem;
  letter-spacing:.02rem;
  margin-bottom:1.3rem;
}

.nav-goto{
  position: sticky;
  margin-top: -7.1vh;
  font-size: 18px;
  background: rgba(255,255,255,.97);
  z-index: 99;
  height: 7.1vh;
}
.nav-goto a{
  padding: 2vh 0;
  border-bottom: 1px solid #cccccc;
  border-radius: 0 !important;
}
//.nav-goto a.border-g-{
//  padding: 2vh 0;
//  border-bottom: 4px solid #00b3ee;
//  border-radius: 0 !important;
//}
.nav-goto a.active{
  background: transparent !important;
  border-bottom: 4px solid #00b3ee;
  border-radius: 1px;
}

.content-header{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}
.content-header-row{
  width: 100%;
  height: 100vh;
}

.card-img-overlay-packages{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}
.gradient-destinations{
  background: -moz-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0 );
  bottom: -1px;
  height: 8em;
  position: absolute;
  width: 100%;
}
.buble-destinations.active{
  border: 2px solid #007bff;
  padding: 2px;
  -webkit-box-shadow: 0px 6px 11px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 11px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 11px 0px rgba(0,0,0,0.75);
}
.carousel-control-prev, .carousel-control-next{
  width: 2% !important;
}
.popover-hover:hover, .popover-hover.active{
  color: #7F8429 !important;
  background-color: #fff !important;
  border-color: #7F8429 !important;
}
.form-circ{
  width: 110px;
  height: 110px;
}
.popover-hover.focus.active, .popover-hover.active:focus{
  color: #7F8429 !important;
  background-color: #fff !important;
  border-color: #7F8429 !important;
}
.sec-stars{
  position: absolute;
  width: 100%;
  bottom: -1.5em;
  left: 0;
  right: 0;
  color: #6c757d;
}
.popover-hover:hover .sec-stars>i, .popover-hover.active .sec-stars>i, .popover-hover.focus.active .sec-stars>i{
  color: #ffc107;
}
.popover-hover.focus{
  color: #6c757d !important;
  background-color: transparent !important;
  background-image: none !important;
  border-color: #6c757d !important;
  box-shadow: 0 0 0 0;
}
.number-hover{
  //background: #cecece;
  cursor: pointer;
}
.popover-hover.focus .sec-stars>i{
  color: #6c757d;
}
.number-hover:hover, .number-hover.active{
  color: #ffffff !important;
  background-color: #f9a825 !important;
  border-color: #f9a825 !important;
}
.number_place{
  font-size: 15px !important;
}
.number-hover:hover i, .number-hover.active i{
  color: #000000 !important;
}

.number-hover.focus, .number-hover.active:focus{
  -webkit-box-shadow: 0 0 0 0.05rem rgba(249, 168, 37, 0.5) !important;
  box-shadow: 0 0 0 0.05rem rgba(249, 168, 37, 0.5) !important;
}

#Inquire{
  background: url(/images/img-noise.png) repeat !important;
}

.b-routes{
  position: absolute;
  bottom: 0;
  right: 0;
}

.nav-itinerary .nav-link{
  //opacity: 0.7;

}
.nav-itinerary .nav-link.active{
  opacity: 1;
  border-bottom: 3px solid #000000;
  color: #FFFFFF !important;
  background-color: #7F8429;
}



.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin-right: 0;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  right: 0;
  margin: 0;
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  //overflow-y: auto;
  border-radius: 0;
}
.header-expedia{
  position: absolute;
  //margin-bottom: 7.1vh;
  bottom: 0;
  z-index: 2;
}

.header-expedia-card{
  position: absolute;
  top: 24%;
  z-index: 2;
}
#html5-watermark{
  display: none !important;
}
//
//.modal.left .modal-body,
//.modal.right .modal-body {
//  padding: 15px 15px 80px;
//}
//
//.modal-open .modal{
//  overflow-y: scroll !important;
//}
//
//
//.modal.right.fade .modal-dialog {
//  //right: -320px;
//  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
//  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
//  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
//  transition: opacity 0.3s linear, right 0.3s ease-out;
//}
//
//.modal.right.fade.in .modal-dialog {
//  right: 0;
//}




//variables
$slider-height: 420px;
$text-block-width: 400px;

$dark-font-color: #212121;
$accent-font-color: #CA9CE1;
$light-font-color: #fff;
$text-overlay-color: #000;
$text-overlay-opacity: 0.6;
$slide-overlay-color: #fff;
$slide-overlay-opacity: 0.6;

//transitions and mixins

//transitions mixin
@mixin transition-mix($property: all, $duration: 0.2s, $timing: linear, $delay: 0s) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

//position absolute mixin
@mixin position-absolute ($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

/*common styles !!!YOU DON'T NEED THEM */


.slider-containers {
  width: 100%;
  //margin-top: 60px;
}

.slider-container {
  //margin-bottom: 60px;

  h2 {
    text-align: center;
  }
}

.flexbox-slider {
  //margin-top: 50px;
}

/*slide styles !!!YOU NEED THEM */
.flexbox-slider {
  display: flex;
  width: 100%;
  height: $slider-height;
  visibility: hidden;

  .flexbox-slide {
    @include transition-mix($duration: .3s);

    width: 20%;
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    visibility: visible;

    //overlay
    &:after {
      @include position-absolute($top: 0, $left: 0);
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba($slide-overlay-color, $slide-overlay-opacity);
      z-index: 2;

      opacity: 0;
    }

    img {
      @include position-absolute($top: 50%, $left: 50%);
      height: auto;
      width: auto;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    .text-block {
      @include position-absolute($bottom: 30px, $left: 30px);
      max-width: $text-block-width;
      padding: 20px;
      border-radius: 5px;
      background-color: rgba($text-overlay-color, $text-overlay-opacity);
      color: $light-font-color;

      z-index: 4;

      visibility: hidden;
      opacity: 0;

      h3 {
        font: {
          size: 20px;
          weight: 700;
        }
      }
    }
  }

  &:hover {

    .flexbox-slide:hover {
      flex-shrink: 0;
      width: 60%;
    }
  }
}

/* effect 1 styles */
.flexbox-slider.flexbox-slider-1 {

  .flexbox-slide {

    .text-block {
      bottom: 60px;
    }
  }

  &:hover {

    .flexbox-slide:hover {

      .text-block {
        @include transition-mix($delay: .5s);
        bottom: 30px;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.grid-category .grid-box {
  position: absolute;
  bottom: 20%;
  display: block;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
}

.line {
  background: #000;
  height: 1px;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.grid-category {
  transition: all 0.5s ease-in-out;
}

.grid-category:hover .grid-box {
  transition: all 0.5s ease-in-out;
  background: rgba(2, 2, 2, 0.8);
}

.grid-category:hover i {
  transition: all 0.3s ease-in-out;
  color: #7F8429;
}

.grid-category:hover b {
  transition: all 0.3s ease-in-out;
  color: #ffa500;
}

#map {
  height: 400px;
  width: 100%;
}


.swiper-container {
  width: 100%;
  height: 578px;
}
.swiper-slide {
  font-size: 18px;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 5px;
}

.swiper-container-complete{
  height: auto !important;
}

.nav-tabs-complete .nav-link.active, .nav-tabs-complete .nav-item.show .nav-link{
  color: #ffa900;
  font-weight: bold;
  background-color: #fff;
  border-color: #fff #fff #ffa900 !important;
  border-bottom: 3px solid;
}

.nav-tabs-complete .nav-link{
  color: #8e8e8e;
}
#aviso{
  //margin: 0 auto;
  bottom: 0px;
  position: fixed;
  width: 100%;
  //padding: 30px 10px 30px 10px;
  //background: #00bdff;
  //color: white;
  //text-align: center;
  z-index: 1021;
}

.alert-dismissible .close{
  position: relative !important;

}
.svg-inline--fa.fa-w-14{
  width: auto !important;
}
.card_review{
  position: relative;
  background: #e9f0fa;
  padding: 10px 10px 10px 14px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 #cce1ff;
  box-shadow: 0 1px 0 #cce1ff;
  margin: 0 0 5px;
  line-height: 1.35em;
  word-wrap: break-word;
  min-height: 30px;
}
.card_review:before{
  content: "";
  position: absolute;
  bottom: -11px;
  left: 16px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #cce1ff;
}
.card_review:after{
  content: "";
  position: absolute;
  bottom: -10px;
  left: 16px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #e9f0fa;
}


.owl-carousel-wrap {
  width: 100%;
  max-width: 100%;
  //margin: 200px auto;
  position: relative;
}

.owl-carousel .item {
  height: 21rem;
  padding: 1rem;
  cursor: pointer;
}

.popup {
  position: absolute;
  width: 0;
  height: 0;
  background: rgba(0,0,0,0.4);
  z-index: 10;
  opacity: 0;
}

/*********************** Demo - 15 *******************/
.box15{position:relative; width:100%;z-index: 3}
.box15 img{width:100%;height:auto}
.box15 .box-content{width:100%;height:100%;position:absolute;top:0;left:0;transition:all .5s ease 0s}
.box15:hover .box-content{background-color:rgba(255,255,255,.8)}
.box15 .box-content:after,.box15 .box-content:before{content:"";width:50px;height:50px;position:absolute;opacity:0;transform:scale(1.5);transition:all .6s ease .3s}
.box15 .box-content:before{border-left:1px solid #040404;border-top:1px solid #040404;top:19px;left:19px}
.box15 .box-content:after{border-bottom:1px solid #040404;border-right:1px solid #040404;bottom:19px;right:19px}
.box15:hover .box-content:after,.box15:hover .box-content:before{opacity:1;transform:scale(1)}
.box15 .title{font-size:22px;color:#000;margin:0;position:relative;top:0;opacity:0;transition:all 1s ease 10ms}
.box15:hover .title{top:30%;opacity:1;transition:all .5s cubic-bezier(1,-.53,.405,1.425) 10ms}
.box15 .title:after{content:"";width:0;height:1px;background:#040404;position:absolute;bottom:-8px;left:0;right:0;margin:0 auto;transition:all 1s ease 0s}
.box15:hover .title:after{width:80%;transition:all 1s ease .8s}
.box15 .icon{width:100%;margin:0 auto;position:absolute;bottom:0;opacity:0;transition-duration:.6s;transition-timing-function:cubic-bezier(1,-.53,.405,1.425);transition-delay:.1s}
.box15:hover .icon{bottom:25%;opacity:1}
.box15 .icon li{display:inline-block}
.box15 .icon li a{display:block;width:40px;height:40px;line-height:40px;border-radius:50%;font-size:18px;color:#000;border:1px solid #000;margin-right:5px;transition:all .3s ease-in-out 0s}
.box15 .icon li a:hover{background:#000;color:#fff}
@media only screen and (max-width:990px){.box15{margin-bottom:30px}
}
.fb-page,
.fb-page span,
.fb-page span iframe[style] {
  max-width: 100% !important;
}

.slick-prev:before, .slick-next:before {
    color: #7f8429 !important;
}

//

.nav-category-goto{
  box-sizing: border-box;
  padding: 10px 5px;
  text-align: center;
  font-size: 1.35em;
  color: #333;
  cursor: pointer;
  font-weight: 600;
}
.nav-category-goto-yellow .nav-link{
  color: #f9a927 !important;
  text-shadow: 1px 1px 1px #ffe3b9;
}

.nav-category-goto-green{
  border-radius: 10px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #b7b99c));
}
.nav-category-goto-green .nav-link{
  color: #666b24 !important;
  text-shadow: 1px 1px 1px #ffffff;
}

.nav-category-goto-green .nav-link.active, .nav-pills .show > .nav-link{
  background-color: #7F8429;
  border: none !important;
  text-shadow: 1px 1px 1px #879037;
  color: #444918 !important;
  border-radius: 10px 0 !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #babf41), color-stop(100%, #444918));
  padding: 6px;
  -webkit-box-shadow: 0px 6px 0 #444918;
  box-shadow: 0px 6px 0 #2f3414;
  height: 36px;
}
.nav-category-goto-yellow{
  border-radius: 10px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff8ed), color-stop(100%,#ffdfaf));
}
.nav-category-goto-yellow .nav-link.active, .nav-pills .show > .nav-link{
  background-color: #f9a825;
  //color: #ffffff;
  border: none !important;
  text-shadow: 1px 1px 1px #ffe3b9;
  color: #b97200 !important;
  -moz-border-radius: 10px 0;
  -webkit-border-radius: 10px 0;
  border-radius: 10px 0 !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe1b1), color-stop(100%,#f9a825));
  padding: 6px;
  -moz-box-shadow: 0px 6px 0 #e48d00;
  -webkit-box-shadow: 0px 6px 0 #e48d00;
  box-shadow: 0px 6px 0 #e48d00;
  height: 36px;
}

.nav-category-goto-grey{
  border-radius: 10px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #c0c0c0));
}
.nav-category-goto-grey .nav-link{
  color: #808080 !important;
  text-shadow: 1px 1px 1px #ffffff;
}
.nav-category-goto-grey .nav-link.active, .nav-pills .show > .nav-link{
  //background-color: #333333;
  //color: #ffffff;
  //border: none !important;

  background-color: #333333;
  border: none !important;
  text-shadow: 1px 1px 1px #656565;
  color: #dadada !important;
  border-radius: 10px 0 !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c5c5c5), color-stop(100%, #4c4c4c));
  padding: 6px;
  -webkit-box-shadow: 0px 6px 0 #1f1f1f;
  box-shadow: 0px 6px 0 #1f1f1f;
  height: 36px;
}
.nav-category-goto-info .nav-link.active, .nav-pills .show > .nav-link{
  background-color: #1482b6;
}
.nav-category-goto-green .nav-link:first-child, .nav-category-goto-yellow .nav-link:first-child, .nav-category-goto-grey .nav-link:first-child, .nav-category-goto-info .nav-link:first-child {
  border-left: 0;
}

.nav-category-goto-green .nav-link, .nav-category-goto-yellow .nav-link, .nav-category-goto-grey .nav-link, .nav-category-goto-info .nav-link{
  color: #333333;
  //background: #f8f8f8 ;
  //border-left: 2px solid #ecf0f1;
}

.position-absolute-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.position-absolute-top {
  position: absolute;
  width: 100%;
  top: 0;
}

.slick-track{
  outline: none !important;
}

.swiper-container-category {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
//.swiper-container-category .swiper-wrapper{
//  overflow: hidden !important;
//}
.swiper-slide-category {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  //background-image: none !important;
  right: -15px;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  left: -15px;
}
.venobox:hover .icon-play i{
  opacity: .7;
  transition: opacity 1s;
}
.banner-itinerary{
  top: 0;
  height: 100vh !important;
}
.header-img-category {
  position: relative;
  overflow: hidden;
}

.header-img-category a img {
  transition: 0.4s ease;
}

.header-img-category a:hover img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
.footer-title-category{
  opacity: .7;
  border-bottom: 1px solid #FFFFFF;
  background: rgba(0,0,0,.5);
}
.header-img-category a:hover .footer-title-category{
  transition: 0.4s ease;
  opacity: 1;
}

.header-img-category a:hover .footer-title-category{
  transition: 0.4s ease;
  opacity: 1;
}

.header-img-destinations a:hover .footer-title-category{
  opacity: 1;
  //border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #f9a825;
  background: rgba(0,0,0,.5);
}

.category-box .category-tape{
  margin-bottom: 30px;
}
.category-box .category-tape .category-circle{
  width: 130px;
  height: 130px;
  padding: 53px 0;
  background: rgba(255,255,255,.7);
}
.category-box .category-tape .category-circle span.line-category{
  border-bottom: 1px solid #333333;
  width: 50px;
}
//.top-actividades:hover img {
//  transition: all 0.5s ease;
//  opacity: 0.5;
//  border-radius: 5px;
//}

.offer {
  background: url(/images/placebg.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.offer:before {
  content: "";
  position: absolute;
  background: linear-gradient(to right, rgba(41, 44, 52, 0.76) 46%, rgba(0, 0, 0, 0.41) 100%);
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.offer-l {
  padding: 110px 0px 100px 0px;
  text-align: center;
}

//tabs
.nav-tabs-wrapper {
  display: block;
  overflow: hidden;
  height: calc(1.5rem + 1rem + 2px); /** 1.5 is font-size, 1 is padding top and bottom, 2 is border width top and bottom */
  position: relative;
  z-index: 1;
  margin-bottom: -1px;
  .nav-tabs {
    overflow-x: auto;
    flex-wrap: nowrap;
    border-bottom: 0;
  }
  .nav-item {
    margin-bottom: 0;
    &:first-child {
      padding-left: 15px;
    }
    &:last-child {
      padding-right: 15px;
    }
  }
  .nav-link {
    white-space: nowrap;
  }
  .dragscroll:active,
  .dragscroll:active a {
    cursor: -webkit-grabbing;
  }
}

.nav-tabs-wrapper-border {
  display: block;
  width: 100%;
  border-top: 1px solid #ddd;
}

//.tab-pane {
//  padding: 1rem;
//}
  .arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #f00;
}